body {
    background-color:  hsla(271, 96%, 24%, 1.0);
}

#clock {
    height: 100px;
    width: 800px;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    padding-top: 70px;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    color: white;
    font-size: 100px;
}